<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
          <ngx-graph *ngIf="graph"
                class="chart-container"
                [view]="[3000, 3000]"
                [links]="graph.edges"          
                layout="dagre" 
                [nodes]="graph.nodes"
                [draggingEnabled]="false"
                [layoutSettings]="{
                orientation: 'TB',
                marginX: 15,
                marginY: 15,
                edgePadding: 15,
                rankPadding: 15,
                nodePadding: 25,
                multigraph: true,
                compound: true} ">
    
              <ng-template #defsTemplate>
                <svg:marker id="EndMarker" viewBox="0 0 8 8" refX="4" refY="4"
                    markerUnits="strokeWidth"
                    markerWidth="3" markerHeight="3"
                    stroke="black" stroke-width="0" fill="black">
                    <svg:circle cx="4" cy="4" r="4"/>
                </svg:marker>
                <svg:marker id="arrow"
                    markerWidth="4" markerHeight="4" viewBox="0 0 50 50"
                    refX="18" refY="5"
                    markerUnits="strokeWidth"
                    stroke-width="2"
                    orient="auto-start-reverse">
                    <svg:rect x="5" y="4" width="10" height="2" class="arrow-shield"/>
                    <svg:polygon points=" 0,0 2.5,5 0,10 14,5 " fill="black"/>
                    <svg:circle cx="18" cy="5" r="4" fill="green" stroke-width="0"/>
                </svg:marker>
            </ng-template>
  
            <ng-template #nodeTemplate let-node>
              <svg:g class="node" (mousedown)="NodeClick(node)" (mouseover)="MouseOver(node)">
                  <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.meta.color" rx="5"/>
                  <svg:text *ngIf="!node.meta.sticky" alignment-baseline="central"  [attr.x]="10" [attr.y]="node.dimension.height / 2">
                    {{node.label}}
                  </svg:text>
                  <svg:text *ngIf="node.meta.sticky" alignment-baseline="central" text-decoration="underline" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                    {{node.label}}
                  </svg:text>
  
              </svg:g>
            </ng-template>
  
            <ng-template #linkTemplate let-link>
              <svg:g class="edge">
                <svg:path class="line" stroke-width="1" marker-end="url(#EndMarker)"></svg:path>
                <svg:text class="edge-label" text-anchor="middle">
                  <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%" >
                    {{link.label}}
                  </textPath>
                </svg:text>
              </svg:g>
            </ng-template>
  
          </ngx-graph>
        </div>
        <div *ngIf="selectedUnit" class="col-md-6">

            <div [ngSwitch]="selectedUnit.type">
                <app-situation-quick-edit *ngSwitchCase="'situation'"></app-situation-quick-edit>
                <app-possibility-quick-edit *ngSwitchCase="'possibility'"></app-possibility-quick-edit>
                <app-action-quick-edit *ngSwitchCase="'action'"></app-action-quick-edit>                                
            </div>
        </div>

        <app-project-quick-edit *ngIf="!selectedUnit" class="col-md-6"></app-project-quick-edit>
    </div>
</div>

<ng-template #noProject>
    <h6> No project selected or found</h6>
</ng-template>
