<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="canvas-container">
                <canvas #myCanvas 
                    (mousedown)="canvasMouseDown($event)" 
                    (mouseup)="drag=false" 
                    (mousemove)="canvasMouseMove($event)"
                    (mouseleave)="drag=false"
                    (click)="canvasMouseClick($event)"
                    width="2500" height="3500"></canvas>
            </div>
        </div>

       
        <div *ngIf="selectedUnit" class="col-md-3">

            <div [ngSwitch]="selectedUnit.type">
                <app-situation-quick-edit *ngSwitchCase="'situation'"></app-situation-quick-edit>
                <app-possibility-quick-edit *ngSwitchCase="'possibility'"></app-possibility-quick-edit>
                <app-action-quick-edit *ngSwitchCase="'action'"></app-action-quick-edit>                                
            </div>
        </div>

        <app-project-quick-edit *ngIf="!selectedUnit" class="col-md-3"></app-project-quick-edit>

        <div *ngIf="selectedUnit" class="col-md-3">
          <app-metadata-editor></app-metadata-editor>
        </div>
    </div>
</div>
<p>project-canvas-view works!</p>





