<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <lib-ngx-canvas-graph [graphId]="'customId'" 
            [graphSettings]="{ 
                width: 600, 
                height: 1000, 
                nodesep: 25, 
                ranksep: 10, 
                rankdir: 'LR' }"
            [graphData]="graphData"
            (nodeClick)="nodeClick($event)"
            [initialCollapseDepth]="3"
            (nodeMouseOver)="nodeMouseOver($event)"
            ></lib-ngx-canvas-graph>
        </div>
       
        <div *ngIf="selectedUnit && !readOnly" class="col-md-2">

            <div [ngSwitch]="selectedUnit.type">
                <app-situation-quick-edit *ngSwitchCase="'situation'"></app-situation-quick-edit>
                <app-possibility-quick-edit *ngSwitchCase="'possibility'"></app-possibility-quick-edit>
                <app-action-quick-edit *ngSwitchCase="'action'"></app-action-quick-edit>                                
            </div>
        </div>

        <app-project-quick-edit *ngIf="!selectedUnit" class="col-md-3"></app-project-quick-edit>

        <!-- class="col-md-3"  -->
        <div *ngIf="selectedUnit" [ngClass]="{'col-md-3': readOnly === false, 'col-md-5': readOnly === true}">
          <app-metadata-editor></app-metadata-editor>
        </div>
    </div>
</div>


